/* ===== ADMIN LAYOUT (giống JSP) ===== */
#main {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}


    #main .left {
        background-color: #17479D;
        width: 17%;
        min-width: 240px;
    }

        #main .left .list-admin {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

            #main .left .list-admin a {
                display: block;
                text-decoration: none;
                color: white;
                padding: 10px 20px;
            }

                #main .left .list-admin a i {
                    margin-right: 20px;
                }

                #main .left .list-admin a:hover {
                    background-color: #203247;
                    border-left: #3B7DDD 2px solid;
                }

                #main .left .list-admin a.active {
                    background-color: #203247;
                    border-left: 4px solid #FFD700;
                    font-weight: bold;
                }

            #main .left .list-admin .logo img {
                width: 100%;
                height: auto;
                margin: 10px 0 20px 0;
            }

            #main .left .list-admin a.logo {
                padding: 0;
            }

                #main .left .list-admin a.logo:hover {
                    background-color: #203247;
                    border-left: none;
                }

    #main .right {
        flex: 1;
        background-color: #F9F9F9;
    }

  
        #main .right .container {
            display: flex;
            flex-direction: column;
            width: calc(100% - 100px);
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
